include mixins

//- Шапка
include ../components/header/header

//- Подвал
include ../components/footer/footer

//- Логотип
include ../components/logo/logo

//- Кастомные инпуты
include ../components/input/input

//- Главное меню
include ../components/menu/menu

//- Баннер
include ../components/banner/banner

//- Кнопка "вверх"
include ../components/scroll-top/scroll-top

//- YouTube
include ../components/youtube/youtube

//- Адаптивные блоки
include ../components/relation/relation

//- Шаблоны
include ../components/templates/templates

//- Отладка сетки
include ../components/debug/debug
