font-face("Roboto", "../fonts/Roboto/RobotoRegular")
font-face("Roboto", "../fonts/Roboto/RobotoBold", bold)

// font-face("DINPro", "../fonts/DINPro/DINPro")
// font-face("DINPro", "../fonts/DINPro/DINPro-Bold", bold)
// font-face("DINPro", "../fonts/DINPro/DINPro-Light", 300)
// font-face("DINPro", "../fonts/DINPro/DINPro-Medium", 500)
// font-face("DINPro", "../fonts/DINPro/DINPro-Black", 900)

// font-face("Segoe UI", "../fonts/SegoeUI/SegoeUI")

// font-face("Geometria", "../fonts/Geometria/Geometria")
// font-face("Geometria", "../fonts/Geometria/Geometria-Bold", bold)
// font-face("Geometria", "../fonts/Geometria/Geometria-BoldItalic", bold, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-ExtraBold", 800)
// font-face("Geometria", "../fonts/Geometria/Geometria-ExtraBoldItalic", 800, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-ExtraLight", 200)
// font-face("Geometria", "../fonts/Geometria/Geometria-ExtraLightItalic", 200, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-Heavy", 900)
// font-face("Geometria", "../fonts/Geometria/Geometria-HeavyItalic", 900, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-Italic", normal, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-Light", 300)
// font-face("Geometria", "../fonts/Geometria/Geometria-LightItalic", 300, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-Medium", 500)
// font-face("Geometria", "../fonts/Geometria/Geometria-MediumItalic", 500, italic)
// font-face("Geometria", "../fonts/Geometria/Geometria-Thin", 100)
// font-face("Geometria", "../fonts/Geometria/Geometria-ThinItalic", 100, italic)

// font-face("Bebas Neue", "../fonts/BebasNeue/BebasNeueRegular")
