extends ../layout/main

append variables
  - var title = 'Внутренняя страница';

block content
  .l-wrapper
    .l-grid
      .l-grid__item.l-grid__item--12
        +youtube("4JS70KB9GS0", "Как вставить двадцать видео с Ютуба и не скачать слона")
      .l-grid__item.l-grid__item--12
        +youtube("4JS70KB9GS0", "Как вставить двадцать видео с Ютуба и не скачать слона")
